<!DOCTYPE html>
<html lang="en">
<head>
    <!-- start: Meta -->
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Next Generation Cockpit.</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- end: Meta -->
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1" />
    <!-- start: CSS -->
    <link id="bootstrap-style" href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link id="base-style" href="~/Content/style.css" rel="stylesheet" />
    <link id="base-style-responsive" href="~/Content/style-responsive.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext'
        rel='stylesheet' type='text/css' />
    <style type="text/css">
        .jqstooltip
        {
            position: absolute;
            left: 0px;
            top: 0px;
            visibility: hidden;
            background: rgb(0, 0, 0) transparent;
            background-color: rgba(0,0,0,0.6);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            color: white;
            font: 10px arial, san serif;
            text-align: left;
            white-space: nowrap;
            padding: 5px;
            border: 1px solid white;
            z-index: 10000;
        }
        .jqsfield
        {
            color: white;
            font: 10px arial, san serif;
            text-align: left;
        }
    </style>
    <!-- end: CSS -->
    <script src="~/Scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
    <!--This bundle was moved by the Telerik VS Extensions for compatibility reasons-->
    @Scripts.Render("~/bundles/jquery")
    <!--This CSS entry was added by the Telerik VS Extensions for compatibility reasons-->
    <link href="@Url.Content("~/Content/kendo.compatibility.css")" rel="stylesheet" type="text/css" />
    	<link href="@Url.Content("~/Content/kendo/2015.1.429/kendo.common.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2015.1.429/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2015.1.429/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2015.1.429/kendo.blueopal.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2015.1.429/kendo.dataviz.blueopal.min.css")" rel="stylesheet" type="text/css" />
	<script src="@Url.Content("~/Scripts/kendo/2015.1.429/jquery.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2015.1.429/jszip.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2015.1.429/kendo.all.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2015.1.429/kendo.aspnetmvc.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
<body>
    @{
        var UserRole = ViewBag.UserRole;
    }
    <!-- start: Header -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar">
                    </span></a><a class="brand" href="@Url.Action("Home", "Index")"><span>Next Generation
                        Cockpit.</span></a>
                <!-- start: Header Menu -->
                <div class="nav-no-collapse header-nav">
                    <ul class="nav pull-right">
                        <li class="dropdown hidden-phone"><a class="btn dropdown-toggle" data-toggle="dropdown"
                            href="#"><i class="halflings-icon white warning-sign"></i></a>
                            <ul class="dropdown-menu notifications">
                                <li class="dropdown-menu-title"><span>You have 11 notifications</span> <a href="#refresh">
                                    <i class="icon-repeat"></i></a></li>
                                <li><a href="#"><span class="icon blue"><i class="icon-user"></i></span><span class="message">
                                    New user registration</span> <span class="time">1 min</span> </a></li>
                                <li>@Html.ActionLink("Home", "Index", "Home") </li>
                                <li>@Html.ActionLink("About", "About", "Home") </li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home") </li>
                                <li><a href="#"><span class="icon blue"><i class="icon-user"></i></span><span class="message">
                                    New user registration</span> <span class="time">36 min</span> </a></li>
                                <li><a href="#"><span class="icon yellow"><i class="icon-shopping-cart"></i></span><span
                                    class="message">2 items sold</span> <span class="time">1 hour</span> </a></li>
                                <li class="warning"><a href="#"><span class="icon red"><i class="icon-user"></i></span>
                                    <span class="message">User deleted account</span> <span class="time">2 hour</span>
                                </a></li>
                                <li class="warning"><a href="#"><span class="icon red"><i class="icon-shopping-cart">
                                </i></span><span class="message">New comment</span> <span class="time">6 hour</span>
                                </a></li>
                                <li><a href="#"><span class="icon green"><i class="icon-comment-alt"></i></span><span
                                    class="message">New comment</span> <span class="time">yesterday</span> </a></li>
                                <li><a href="#"><span class="icon blue"><i class="icon-user"></i></span><span class="message">
                                    New user registration</span> <span class="time">yesterday</span> </a></li>
                                <li class="dropdown-menu-sub-footer"><a>View all notifications</a> </li>
                            </ul>
                        </li>
                        <!-- start: Notifications Dropdown -->
                        <li class="dropdown hidden-phone"><a class="btn dropdown-toggle" data-toggle="dropdown"
                            href="#"><i class="halflings-icon white tasks"></i></a>
                            <ul class="dropdown-menu tasks">
                                <li class="dropdown-menu-title"><span>You have 17 tasks in progress</span> <a href="#refresh">
                                    <i class="icon-repeat"></i></a></li>
                                <li><a href="#"><span class="header"><span class="title">iOS Development</span> <span
                                    class="percent"></span></span>
                                    <div class="taskProgress progressSlim red">
                                        80</div>
                                </a></li>
                                <li><a href="#"><span class="header"><span class="title">Android Development</span>
                                    <span class="percent"></span></span>
                                    <div class="taskProgress progressSlim green">
                                        47</div>
                                </a></li>
                                <li><a href="#"><span class="header"><span class="title">ARM Development</span> <span
                                    class="percent"></span></span>
                                    <div class="taskProgress progressSlim yellow">
                                        32</div>
                                </a></li>
                                <li><a href="#"><span class="header"><span class="title">ARM Development</span> <span
                                    class="percent"></span></span>
                                    <div class="taskProgress progressSlim greenLight">
                                        63</div>
                                </a></li>
                                <li><a href="#"><span class="header"><span class="title">ARM Development</span> <span
                                    class="percent"></span></span>
                                    <div class="taskProgress progressSlim orange">
                                        80</div>
                                </a></li>
                                <li><a class="dropdown-menu-sub-footer">View all tasks</a> </li>
                            </ul>
                        </li>
                        <!-- end: Notifications Dropdown -->
                        <!-- start: Message Dropdown -->
                        <li class="dropdown hidden-phone"><a class="btn dropdown-toggle" data-toggle="dropdown"
                            href="#"><i class="halflings-icon white envelope"></i></a>
                            <ul class="dropdown-menu messages">
                                <li class="dropdown-menu-title"><span>You have 9 messages</span> <a href="#refresh">
                                    <i class="icon-repeat"></i></a></li>
                                <li><a href="#"><span class="avatar">
                                    <img src="../../Content/img/avatar.jpg" alt="Avatar"></span> <span class="header"><span
                                        class="from">Dennis Ji </span><span class="time">6 min </span></span><span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore </span>
                                </a></li>
                                <li><a href="#"><span class="avatar">
                                    <img src="../../Content/img/avatar.jpg" alt="Avatar"></span> <span class="header"><span
                                        class="from">Dennis Ji </span><span class="time">56 min </span></span><span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore </span>
                                </a></li>
                                <li><a href="#"><span class="avatar">
                                    <img src="../../Content/img/avatar.jpg" alt="Avatar"></span> <span class="header"><span
                                        class="from">Dennis Ji </span><span class="time">3 hours </span></span><span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore </span>
                                </a></li>
                                <li><a href="#"><span class="avatar">
                                    <img src="../../Content/img/avatar.jpg" alt="Avatar"></span> <span class="header"><span
                                        class="from">Dennis Ji </span><span class="time">yesterday </span></span><span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore </span>
                                </a></li>
                                <li><a href="#"><span class="avatar">
                                    <img src="../../Content/img/avatar.jpg" alt="Avatar"></span> <span class="header"><span
                                        class="from">Dennis Ji </span><span class="time">Jul 25, 2012 </span></span>
                                    <span class="message">Lorem ipsum dolor sit amet consectetur adipiscing elit, et al
                                        commore </span></a></li>
                                <li><a class="dropdown-menu-sub-footer">View all messages</a> </li>
                            </ul>
                        </li>
                        <!-- end: Message Dropdown -->
                        <li><a class="btn" href="#"><i class="halflings-icon white wrench"></i></a></li>
                        <!-- start: User Dropdown -->
                        <li class="dropdown"><a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="halflings-icon white user"></i>@User.Identity.Name <span class="caret">
                            </span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-menu-title"><span>Account Settings</span> </li>
                                <li><a href="@Url.Action("UserProfile", "User")"><i class="halflings-icon user"></i>
                                    Profile</a></li>
                                <li><a href="@Url.Action("UserLogin", "User")"><i class="halflings-icon off"></i>Logout</a></li>
                            </ul>
                        </li>
                        <!-- end: User Dropdown -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid-full">
        <div class="row-fluid">
            <!-- start: Main Menu -->
            <div id="sidebar-left" class="span2">
                <div class="nav-collapse sidebar-nav">
                    <ul class="nav nav-tabs nav-stacked main-menu">
                        <li><a href="@Url.Action("Index", "Home")"><i class="icon-bar-chart"></i><span class="hidden-tablet">
                            Dashboard</span></a></li>
                        <li><a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span
                            class="hidden-tablet">Follow-ups</span></a>
                            <ul>
                                <li><a class="submenu" href="@Url.Action("MyFollowupsList", "Followup")"><i class="icon-file-alt">
                                </i><span class="hidden-tablet">Open Follow-ups</span></a></li>
                                <li><a class="submenu" href="@Url.Action("MyPasseddueDate", "Followup")"><i class="icon-file-alt">
                                </i><span class="hidden-tablet">Passed due date</span></a></li>
                                <li><a class="submenu" href="@Url.Action("MyDueToday", "Followup")"><i class="icon-file-alt">
                                </i><span class="hidden-tablet">Due Today</span></a></li>
                                <li><a class="submenu" href="@Url.Action("MysystemGenerated", "Followup")"><i class="icon-file-alt">
                                </i><span class="hidden-tablet">System generated follow-ups</span></a></li>
                                <li><a class="submenu" href="@Url.Action("MyReassigned", "Followup")"><i class="icon-file-alt">
                                </i><span class="hidden-tablet">Re-assigned to you</span></a></li>
                            </ul>
                        </li>
                        <li><a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet">
                            SNI Orders</span></a>
                            <ul>
                                <li><a class="submenu" href="@Url.Action("SNI_AllOrders", "SNI")"><i class="icon-file-alt">
                                </i><span class="hidden-tablet">All SNI Orders</span></a></li>
                                <li><a class="submenu" href="@Url.Action("SNI_AgedSNI", "SNI")"><i class="icon-file-alt">
                                </i><span class="hidden-tablet">Aged SNI Orders</span></a></li>
                                <li><a class="submenu" href="@Url.Action("SNI_ReleaseDatePassedOrders", "SNI")"><i
                                    class="icon-file-alt"></i><span class="hidden-tablet">Release date passed</span></a></li>
                                <li><a class="submenu" href="@Url.Action("SNI_ReleaseDateDueTodayOrders", "SNI")"><i
                                    class="icon-file-alt"></i><span class="hidden-tablet">Expected release date due today</span></a></li>
                                <li><a class="submenu" href="@Url.Action("SNI_NoReleaseDateOrders", "SNI")"><i class="icon-file-alt">
                                </i><span class="hidden-tablet">No expected release dates</span></a></li>
                                <li><a class="submenu" href="@Url.Action("SNI_InvoicingErrorsOrders", "SNI")"><i
                                    class="icon-file-alt"></i><span class="hidden-tablet">Invoicing Errors</span></a></li>
                            </ul>
                        </li>
                        <li><a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet">
                            DB Orders</span></a>
                            <ul>
                                <li><a class="submenu" href="@Url.Action("DB_AllOrders", "DB")"><i class="icon-file-alt">
                                </i><span class="hidden-tablet">All DB Ordes</span></a></li>
                                <li><a class="submenu" href="@Url.Action("DB_AgedGreater90Days", "DB")"><i class="icon-file-alt">
                                </i><span class="hidden-tablet">Orders aged > 90 days</span></a></li>
                                <li><a class="submenu" href="@Url.Action("DBOverdue", "DB")"><i class="icon-file-alt">
                                </i><span class="hidden-tablet">DB Overdue</span></a></li>
                                <li><a class="submenu" href="@Url.Action("DB_expectedreleasedatepassed", "DB")"><i
                                    class="icon-file-alt"></i><span class="hidden-tablet">Expected release date has passed</span></a></li>
                                <li><a class="submenu" href="@Url.Action("DB_becomeoverduewithin14days", "DB")"><i
                                    class="icon-file-alt"></i><span class="hidden-tablet">Become overdue within 14 days</span></a></li>
                                <li><a class="submenu" href="@Url.Action("DBCRDDLess2Days", "DB")"><i class="icon-file-alt">
                                </i><span class="hidden-tablet">CRDD < 2 Days</span></a></li>
                                <li><a class="submenu" href="@Url.Action("DBSpeedtoRevenue", "DB")"><i class="icon-file-alt">
                                </i><span class="hidden-tablet">Speed to Revenue</span></a></li>
                            </ul>
                        </li>
                        <li><a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet">
                            Un-Block Orders</span></a>
                            <ul>
                                <li><a class="submenu" href="@Url.Action("AllUnblocked", "UnBlocked")"><i class="icon-file-alt">
                                </i><span class="hidden-tablet">All Unblocked Orders</span></a></li>
                                <li><a class="submenu" href="@Url.Action("AllUnblockedCRDDLess2Days", "UnBlocked")">
                                    <i class="icon-file-alt"></i><span class="hidden-tablet">CRDD <2 Days</span></a></li>
                                <li><a class="submenu" href="@Url.Action("AllUnblockedOverdue", "UnBlocked")"><i
                                    class="icon-file-alt"></i><span class="hidden-tablet">Overdue Blocked</span></a></li>
                            </ul>
                        </li>
                        <li><a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet">
                            Analytics</span></a>
                            <ul>
                                <li><a href="@Url.Action("DB_waterfall", "Analytics")"><i class="icon-list-alt"></i>
                                    <span class="hidden-tablet">DB Analytics</span></a></li>
                                    <li><a href="@Url.Action("SNI_waterfall", "Analytics")"><i class="icon-list-alt"></i>
                                    <span class="hidden-tablet">SNI Analytics</span></a></li>
                                    <li><a href="@Url.Action("UB_waterfall", "Analytics")"><i class="icon-list-alt"></i>
                                    <span class="hidden-tablet">Unblocked Analytics</span></a></li>
                                    <li><a href="@Url.Action("ControlReports_waterfall", "Analytics")"><i class="icon-list-alt"></i>
                                    <span class="hidden-tablet">Control Reports Analytics</span></a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("Index", "History")"><i class="icon-edit"></i><span class="hidden-tablet">
                            History</span></a></li>
                        <li><a href="@Url.Action("Index", "History")"><i class="icon-folder-open"></i><span
                            class="hidden-tablet">Archive</span></a></li>
                        <li><a href="@Url.Action("UserLogin", "User")"><i class="icon-lock"></i><span class="hidden-tablet">
                            Login Page</span></a></li>
                    </ul>
                </div>
            </div>
            <!-- end: Main Menu -->
            <noscript>
                <div class="alert alert-block span10">
                    <h4 class="alert-heading">
                        Warning!</h4>
                    <p>
                        You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                        enabled to use this site.</p>
                </div>
            </noscript>
            <!-- start: Content -->
            @RenderBody()
        </div>
    </div>
    <div class="modal hide fade" id="myModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                ×</button>
            <h3>
                Settings</h3>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a> <a href="#" class="btn btn-primary">
                Save changes</a>
        </div>
    </div>
    <div class="clearfix">
    </div>
    <footer> 
    
        <div class="content-wrapper"> <div class="float-left">
        <p>&copy; @DateTime.Now.Year - My Next Generation Responsive App</p> </div> </div>
    
     </footer>
    @*
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")*@ @*@RenderSection("scripts", required: false)*@
    <!-- start: JavaScript-->
    <script src="~/Scripts/jquery-migrate-1.0.0.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui-1.10.0.custom.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.ui.touch-punch.js" type="text/javascript"></script>
    <script src="~/Scripts/modernizr.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.cookie.js" type="text/javascript"></script>
    <script src='~/Scripts/fullcalendar.min.js'></script>
    <script src='~/Scripts/jquery.dataTables.min.js'></script>
    <script src="~/Scripts/excanvas.js"></script>
    <script src="~/Scripts/jquery.flot.js"></script>
    <script src="~/Scripts/jquery.flot.pie.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.flot.stack.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.flot.resize.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.chosen.min.js"></script>
    <script src="~/Scripts/jquery.uniform.min.js"></script>
    <script src="~/Scripts/jquery.cleditor.min.js"></script>
    <script src="~/Scripts/jquery.noty.js"></script>
    <script src="~/Scripts/jquery.elfinder.min.js"></script>
    <script src="~/Scripts/jquery.raty.min.js"></script>
    <script src="~/Scripts/jquery.iphone.toggle.js"></script>
    <script src="~/Scripts/jquery.uploadify-3.1.min.js"></script>
    <script src="~/Scripts/jquery.gritter.min.js"></script>
    <script src="~/Scripts/jquery.imagesloaded.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.masonry.min.js"></script>
    <script src="~/Scripts/jquery.knob.modified.js"></script>
    <script src="~/Scripts/jquery.sparkline.min.js"></script>
    <script src="~/Scripts/counter.js"></script>
    <script src="~/Scripts/retina.js"></script>
    <script src="~/Scripts/custom.js" type="text/javascript"></script>
    <!-- end: JavaScript-->
</body>
</html>
