@{
    Cockpit_NextGenMVC.BAL_User_Mgmt.VW_USERS SessionUSer = (Cockpit_NextGenMVC.BAL_User_Mgmt.VW_USERS)Session["UserProfile"];
    Cockpit_NextGenMVC.BAL.Tbl_Review_Reports oCurrentReport = ViewBag.oCurrentReport;
    
    var UserRegion = "";
    var UserRole = SessionUSer.ROLE_DESC;
    
    bool IsRegionSelectable = false;
    if (UserRole == "WW Lead")
    {
        IsRegionSelectable = true;
        UserRegion = "WW";
    }
    else { IsRegionSelectable = false; }

    
    var currentBCR = ViewBag.currentBCR;
    var currentRegion = ViewBag.CurrentSelectedRegion;
    
    // Overriding User profile Region with Summary region
    if (currentRegion != "" && currentRegion != null)
    {
        if (currentRegion == "EMEAI") { currentRegion = "EMEA-I"; }        
        UserRegion = currentRegion;
    }
    
    if(UserRegion == "")
    {
        UserRegion = SessionUSer.SUPERREGION;
    }
    
    
    List<string> CreatedByList = ViewBag.CreatedByList;

    List<string> RegionsList = new List<string>() { "AFO", "EMEA-I", "GCFO", "JFO", "SAPK",  "WW" };
    List<string> ProductLineList = new List<string>() { "Cross Validation", "OEM", "PL29", "PL58", "PL6G", "PL74", "PL89", "PL8P", "PL9F", "PL9H", "PL9M", "PL9P", "PLAA", "PLAJ", "PLAZ", "PLBC", "PLBZ", "PLGE", "PLJW", "PLLI", "PLMA", "PLRB" };
    List<string> PrimaryProductList = new List<string>() { "ATOMIC", "AUTOMATION", "CONSUM", "GC", "GCMS", "GENOMICS", "ICPMS", "INFORMATICS", "LC", "LCMS", "LOCALPROD", "MOLEC", "NMR", "REPAIRPARTS", "SERVICES", "VACUUM" };
    List<string> BacklogStatusList = new List<string>() { "Committed later this month - DB", "Committed later this month - no DB", "CRSD <= this month, committed > this month - DB", "CRSD <= this month, committed > this month - no DB", "CRSD > actual month", "DB Blocked", "Delivered not billed", "Delivery created but not completed", "Invoiced MTD", "NotBlocked", "Overdue - committed - DB", "Overdue - committed no DB", "Unconfirmed order" };
    List<string> PaymentTypeList = new List<string>() { "CIA", "LC", "NO LC/CIA" };
    List<string> BusinessGroupList = new List<string>() { "ACG", "Agilent Other", "DGG", "LSAG", "Others" };
    List<string> DivisionList = new List<string>() { "CORP Other", "CSD", "Genomics", "GPSD", "LPSD", "LSAG Held", "LSCA Held", "MSD", "Research Products", "SID", "SPSD", "SSD", "VPD" };
    List<string> DeltaLoadDateList = new List<string>() { "[0-5 Days]", "[5-15 Days]", "[15-30 Days]", "[30-60 Days]", "[> 60 Days]", "[Future >14 Days]", "[Future 0-14 Days]", "TBD" };
    List<string> DollarBucketList = new List<string>() { "0K - 9K", "10K - 19K", "20K - 49K", "50K - 99K", "> 100 K" };

    List<string> BillingblocksList = new List<string>() { "Calculation Missing", "Check Debit Memo", "Check Terms of Dlv", "Check Terms of Paymt", "Compl Confirm Missng", "Customer acceptance", "CustomerUpdateReq'd", "Install NOT Cpt.", "Lease Cust Approval", "Pedimento", "Prices Incomplete" };
    List<string> DeliveryblocksList = new List<string>() { "Awaiting Payment", "Awt. Payment  No PRD", "B2B Block", "Block Production", "Change Ecomm Plant", "Change order pending", "Cust.not ready NOPRD", "Cust.not readyNOSHIP", "Demo NO sched", "Demo with sched", "Export Paper NO PROD", "Export papers missng", "Factory NO sched", "Factory with sched", "GC Config Block", "Incomplete info.", "Install with sched", "Mult Ord with sched", "PROGRAM DON'T TOUCH", "Refurb. NO sched", "Refurb. with sched", "State Change Request", "Support sched needed", "Tax Review", "TaxDoc.MissingNOPRD"};
    
}
@using (Ajax.BeginForm("AdvancedFilter", "Generic", FormMethod.Post, new AjaxOptions { HttpMethod = "post" }, new { id = "frmCommenting", Report = currentBCR }))
{
    
    <div class="control-group">
        <div id="example" class="k-content">
            <div class="wrapper">
                @(Html.Kendo().TabStrip()
              .Name("tabstrip")
              .Items(tabstrip =>
              {
                  tabstrip.Add().Text("Header")
                      .Selected(true)
                       .Content(@<text>
                <div class="controls">
                    Region:
                    @(Html.Kendo().MultiSelect()
                            .Name("fltr_Region")
                            .Placeholder("Select Region...")
                            .MinLength(2)
                            .Enable(IsRegionSelectable)
                            .Value(UserRegion)
                            .Events(e => e.Change("RegionFilterChanged"))
                            .BindTo(RegionsList)
                    )

                    @(Html.Kendo().MultiSelect()
                        .Name("fltr_Backlog_Status")
                        .MinLength(2)
                        .Placeholder("Select Backlog Status...")
                        .BindTo(BacklogStatusList)
                        )
                    @(Html.Kendo().MultiSelect()
                        .Name("fltr_Dollar_Bucket")
                        .MinLength(2)
                        .Placeholder("Select Dollar Bucket...")
                        .BindTo(DollarBucketList)
                        )
                      @(Html.Kendo().MultiSelect()
                        .Name("fltr_Business")
                        .MinLength(2)
                        .Placeholder("Select Business...")
                        .BindTo(BusinessGroupList)
                        )
                      @(Html.Kendo().MultiSelect()
                            .Name("fltr_Div")
                            .Placeholder("Select Division...")
                            .MinLength(2)
                            .BindTo(DivisionList)
                        )
                      @(Html.Kendo().MultiSelect()
                        .Name("fltr_Payment_Terms")
                        .MinLength(2)
                        .Placeholder("Select Payment Type...")
                        .BindTo(PaymentTypeList)
                        )                    
                      @(Html.Kendo().MultiSelect()
                        .Name("fltr_PL")
                        .MinLength(2)
                        .Placeholder("Select Product Lines...")
                        .BindTo(ProductLineList)
                        )
                     @(Html.Kendo().MultiSelect()
                        .Name("fltr_Primary_Product")
                        .MinLength(2)
                        .Placeholder("Select Primary Product...")
                        .BindTo(PrimaryProductList)
                        )
                    <br />
                    <input type="text" id="fltr_CreatedBy" name="fltr_CreatedBy" placeholder="Order Created by (SAP User Name)"
                        style="width: 100%; height: 20px;" /><br />
                    Delta Load Date Between (Numeric Range):
                    <input type="text" id="fltr_DeltaLoadDateFrom" name="fltr_DeltaLoadDateFrom" 
                        style="width: 50px;" />
                    To
                    <input type="text" id="fltr_DeltaLoadDateTo" name="fltr_DeltaLoadDateTo" 
                        style="width: 50px;" />
                        <br />
                    Closure Days Delta Between (Numeric Range):
                    <input type="text" id="fltr_ClosureDaysDeltaFrom" name="fltr_ClosureDaysDeltaFrom"
                        style="width: 50px;" />
                    To
                    <input type="text" id="fltr_ClosureDaysDeltaTo" name="fltr_ClosureDaysDeltaTo" style="width: 50px;" />
                </div>
                </text>);
                  tabstrip.Add().Text("Order Block")
                       .Content(@<text>
                <div class="controls">
                    @(Html.Kendo().MultiSelect()
                        .Name("fltr_BB_Header")
                        .MinLength(2)
                        .Placeholder("Select Billing Block (Header)...")
                        .BindTo(BillingblocksList)
                        )
                     @(Html.Kendo().MultiSelect()
                        .Name("fltr_DB_Header")
                        .MinLength(2)
                        .Placeholder("Select Delivery Block (Header)...")
                        .BindTo(DeliveryblocksList)
                        )
                     @(Html.Kendo().MultiSelect()
                        .Name("fltr_BB_Item")
                        .MinLength(2)
                        .Placeholder("Select Billing Block (Item)...")
                        .BindTo(BillingblocksList)
                        )
                     @(Html.Kendo().MultiSelect()
                        .Name("fltr_DB_Item")
                        .MinLength(2)
                        .Placeholder("Select Delivery Block (Item)...")
                        .BindTo(DeliveryblocksList)
                        )
                </div>
                </text>);
                  tabstrip.Add().Text("Partner")
                              .Content(@<text>
                <div class="controls">
                    <input type="text" id="fltr_SoldtoAccountID" name="fltr_SoldtoAccountID" placeholder="Sold-To Customer ID..."
                        style="width: 100%; height: 20px;" /><br />
                    <input type="text" id="fltr_ShiptoAccountID" name="fltr_ShiptoAccountID" placeholder="Ship-To Customer ID..."
                        style="width: 100%; height: 20px;" /><br />                        
                    <input type="text" id="fltr_ZUAccountID" name="fltr_ZUAccountID" placeholder="ZU Customer ID..."
                        style="width: 100%; height: 20px;" /><br />
                    <input type="text" id="fltr_ShiptoAccount" name="fltr_ShiptoAccount" placeholder="Ship-To Customer Name (Like Search)..."
                        style="width: 100%; height: 20px;" /><br />
                    @(Html.Kendo().MultiSelect()
                        .Name("fltr_SoldToCountry")
                        .MinLength(2)
                        .Placeholder("Select Sold To Country ...")
                        )
                    @(Html.Kendo().MultiSelect()
                        .Name("fltr_ShiptoCountry")
                        .MinLength(2)
                        .Placeholder("Select Ship to Country ...")
                        )
                    @(Html.Kendo().MultiSelect()
                        .Name("fltr_BTM")
                        .MinLength(2)
                        .Placeholder("Select BTM Manager...")
                        )
                    @(Html.Kendo().MultiSelect()
                        .Name("fltr_BTMManager")
                        .MinLength(2)
                        .Placeholder("Select BTM ...")
                        )
                </div>
                </text>);
              })
        )
            </div>
        </div>
    </div>

    <div class="overlay" id="spinner" name="spinner" style="visibility: hidden;">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    
    <div class="form-actions">
        <button class="btn btn-primary" type="button" style="text-align: right;" onclick="ApplyAdvancedFilters();">
            Apply Filters</button>
        <button class="btn btn-primary" type="button" style="text-align: right;" onclick="ResetAdvancedFilters();">
            Clear Filters</button>
        <input type="hidden" value="@SessionUSer.SUPERREGION" id="hid_UserRegion" name="hid_UserRegion" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="bg-red-gradient">Down arrow Key</span>
        <span class="button-descr">Opens the Filter Options List.</span>

        <br />
        <p style="color:Red;">(*) If no selection options are coming then please verify that Region has selected or not!</p>
    </div>
}