

@{
    Cockpit_NextGenMVC.BAL_User_Mgmt.VW_USERS SessionUSer = (Cockpit_NextGenMVC.BAL_User_Mgmt.VW_USERS)Session["UserProfile"];
    List<Cockpit_NextGenMVC.Controllers.Model_Pie> lstTeamMembers = (List<Cockpit_NextGenMVC.Controllers.Model_Pie>)Session["UniqueCSRs"];

    if (lstTeamMembers != null && lstTeamMembers.Where(p=>p.category == " ").Count() == 0)
    {lstTeamMembers.Insert(0, new Cockpit_NextGenMVC.Controllers.Model_Pie {category=" " });}
}


@using (Ajax.BeginForm("AddOrderOwnership", "Generic", FormMethod.Post, new AjaxOptions { HttpMethod = "post" }, new { id = "frmOwnership" }))
{
    <div class="control-group">
        <div class="panel-wrap">
            <div id="main-content">
                <div id="news" class="widget">
                    <div>
                        <h3>
                            Ownership for</h3>
                            @(Html.Kendo().RadioButton().Name("rad_SelectedOrdersOwnership").Checked(true).HtmlAttributes(new { @name = "Ownership_For"}).Value("Selected Orders").Label("Selected Orders (Tip: Filter and 'Select All' to change all existing orders of a user.)"))<br />
                            <input type="text" id="lbl_OrdersSelected" name="lbl_OrdersSelected" readonly="readonly" style="width:100%" />
                            <br />
                            <br />
                            @(Html.Kendo().RadioButton().Name("rad_AllOrdersOwnership").HtmlAttributes(new { @name = "Ownership_For", @onclick = "All_OrdersSelection()" }).Value("All Orders").Label("All Orders of a User (Tip: Applies to Existing & Future orders created by this user.)"))
                        <h3>
                            Existing Owner Name</h3>
                        @(Html.Kendo().DropDownList()
                              .Name("cmb_ExistingOwner")
                              .Filter("contains")
                              .DataTextField("category")
                              .DataValueField("category")
                              .BindTo(lstTeamMembers)
                              .SelectedIndex(0)
                              .Enable(false)
                            )
                        <h3>
                            New Owner Name</h3>
                        @(Html.Kendo().DropDownList()
                              .Name("cmb_NewOwner")
                              .Filter("contains")
                              .DataTextField("category")
                              .DataValueField("category")
                              .BindTo(lstTeamMembers)
                              .SelectedIndex(0)
                            )

                        <h3>
                            Ownership Type</h3>
                            @(Html.Kendo().RadioButton().Name("rad_Temporary").Value("Temporary")
                                .HtmlAttributes(new { @name = "Ownership_Type" }).Label("Temporary Ownership (when actual owner is on FTO or for Team workload distribution)"))
                            <br />
                            Duration From 
                            @(Html.Kendo().DatePicker().Name("dt_Duration_From"))
                            To
                            @(Html.Kendo().DatePicker().Name("dt_Duration_To"))
                            <br />
                            <br />
                            @(Html.Kendo().RadioButton().Name("rad_Permanent").Value("Permanent")
                                .HtmlAttributes(new { @name = "Ownership_Type" }).Label("Permanent Ownership."))
                            <br />
                        <h3>Confirm the Ownership change.</h3>

                        <input type="submit" value="Change Ownership" onclick="return Validate();" />
                        <input type="reset" value="reset" />
                    </div>
                </div>
            </div>
        </div>
        <style>
        #example {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            overflow: hidden;
        }

        .dash-head {
            width: 670px;
            height: 80px;
            background-color: #222;
            position: relative;
        }

        .dash-head .k-rpanel-toggle {
            position: absolute;
            width: 40px;
            height: 40px;
            top: 20px;
            left: 20px;
        }

        .panel-wrap {
            max-width: 668px;
            background-color: #f5f5f5;
            border: 1px solid #e5e5e5;
        }

        #sidebar {
            margin: 0;
            padding: 20px 0 20px 20px;
            vertical-align: top;
        }

        @@media (max-width: 1000px) {
            #sidebar {
                background: #fff;
                padding: 20px;
                border-left: 1px solid #e5e5e5;

                /* show sidebar in container, demo only*/
                position: absolute;
                top: 402px;
                bottom: 0;
            }

            #sidebar.k-rpanel-expanded {
                box-shadow: 0 0 10px rgba(0,0,0,.3);
            }
        }

        #main-content {
            overflow: hidden;
            margin: 0;
            padding: 20px;
            vertical-align: top;
        }

        /* WIDGETS */
        .widget {
            margin: 0 0 20px;
            padding: 0;
            background-color: #ffffff;
            border: 1px solid #e7e7e7;
            border-radius: 3px;
        }

        .widget div {
            padding: 10px;
            min-height: 50px;
        }

        .widget h3 {
            font-size: 12px;
            padding: 8px 10px;
            text-transform: uppercase;
            border-bottom: 1px solid #e7e7e7;
        }

        .widget h3 span {
            float: right;
        }

        .widget h3 span:hover {
            cursor: pointer;
            background-color: #e7e7e7;
            border-radius: 20px;
        }

        /* PROFILE */
        .profile-photo {
            width: 80px;
            height: 80px;
            margin: 10px auto;
            border-radius: 60px;
            border: 1px solid #e7e7e7;
            background: no-repeat 50% 50%;
        }

        #profile div {
            text-align: center;
        }

        #profile h4 {
            width: auto;
            margin: 0 0 5px;
            font-size: 1.2em;
            color: #1f97f7;
        }

        #profile p {
            margin: 0 0 10px;
        }

        /* BLOGS & NEWS */
        #blogs div,
        #news div {
            padding: 0 20px 20px;
        }

        #teammates h4,
        #blogs h4,
        #news h4 {
            width: auto;
            margin: 20px 0 2px;
            font-size: 1.4em;
            color: #1f97f7;
            font-weight: normal;
        }

        #main-content #news h4 {
            font-size: 1.2em;
            line-height: 1.4em;
        }

        #main-content #news h4 span {
            display: block;
            float: left;
            width: 100px;
            color: #000;
            padding-right: 10px;
        }

        /* TEAMMATES */
        .team-mate:after {
            content: ".";
            display: block;
            height: 0;
            line-height: 0;
            clear: both;
            visibility: hidden;
        }

        #teammates .team-mate h4 {
            font-size: 1.4em;
            font-weight: normal;
            margin-top: 12px;
        }

        .team-mate p {
            margin: 0;
        }
    </style>
    </div>
    
}