@{
    var currentBCR = ViewBag.currentBCR;
    var BlockedOrderReport = ViewBag.ThisReport;
    if (BlockedOrderReport == null) { BlockedOrderReport = ""; }
    
    Cockpit_NextGenMVC.BAL.Tbl_Review_Reports oCurrentReport = ViewBag.oCurrentReport;
    string enableMaterialCommenting = "";
    string disableUnblockedOrdersCommenting = "";

    if (oCurrentReport != null && oCurrentReport.Description2 != "Item Level commenting")
    {
        enableMaterialCommenting = "false";
    }

    if (oCurrentReport.ReportName != "Billing Block" && oCurrentReport.ReportName != "Delivery block" && oCurrentReport.ReportName != "Free Of Charge Report")
    {
        disableUnblockedOrdersCommenting = "true";
    }
    
    if (currentBCR == null) { currentBCR = oCurrentReport.ReportName; }

    List<SelectListItem> ReasonsList;

    if (currentBCR == "Billing Block")
    {
        ReasonsList = new List<SelectListItem>() {
                        new SelectListItem {Text="", Value=""},
                        new SelectListItem {Text="COpC Error", Value="COpC Error"},
                        new SelectListItem {Text="Customer Satisfaction Issue", Value="Customer Satisfaction Issue"},
                        new SelectListItem {Text="DEFOA / Quality issue", Value="DEFOA / Quality issue"},
                        new SelectListItem {Text="General SAP Issues", Value="General SAP Issues"},
                        new SelectListItem {Text="I&F - pending Familiarization", Value="I&F - pending Familiarization"},
                        new SelectListItem {Text="I&F complete - pending Acceptance", Value="I&F complete - pending Acceptance"},
                        new SelectListItem {Text="I&F in progress", Value="I&F in progress"},
                        new SelectListItem {Text="I&F not scheduled - Agilent issue", Value="I&F not scheduled - Agilent issue"},
                        new SelectListItem {Text="I&F not scheduled - Customer site not ready", Value="I&F not scheduled - Customer site not ready"},
                        new SelectListItem {Text="I&F not scheduled - shipped early", Value="I&F not scheduled - shipped early"},
                        new SelectListItem {Text="I&F scheduled but not yet started", Value="I&F scheduled but not yet started"},
                        new SelectListItem {Text="In Transit", Value="In Transit"},
                        new SelectListItem {Text="Invoiced", Value="Invoiced"},
                        new SelectListItem {Text="Partial Delivery", Value="Partial Delivery"},
                        new SelectListItem {Text="Payment terms or financing issue", Value="Payment terms or financing issue"},
                        new SelectListItem {Text="PSO Order", Value="PSO Order"},
                        new SelectListItem {Text="Public Tender", Value="Public Tender"},
                        new SelectListItem {Text="Try and Buy", Value="Try and Buy"},
                        new SelectListItem {Text="Other", Value="Other"}
                        };
    }
    else if (currentBCR == "Delivery block")
    {
        ReasonsList = new List<SelectListItem>() {
                        new SelectListItem {Text="", Value=""},
                        new SelectListItem {Text="Array Design missing", Value="Array Design missing"},
                        new SelectListItem {Text="Awaiting amendment (LC)", Value="Awaiting amendment (LC)"},
                        new SelectListItem {Text="Awaiting Export License", Value="Awaiting Export License"},
                        new SelectListItem {Text="Awaiting Payment (LC or CIA)", Value="Awaiting Payment (LC or CIA)"},
                        new SelectListItem {Text="Change in CRDD/date of delivery", Value="Change in CRDD/date of delivery"},
                        new SelectListItem {Text="Change Order Pending", Value="Change Order Pending"},
                        new SelectListItem {Text="Credit analyst block", Value="Credit analyst block"},
                        new SelectListItem {Text="Customer not ready", Value="Customer not ready"},
                        new SelectListItem {Text="DB Released", Value="DB Released"},
                        new SelectListItem {Text="Demo", Value="Demo"},
                        new SelectListItem {Text="ECD license missing", Value="ECD license missing"},
                        new SelectListItem {Text="EU Origin", Value="EU Origin"},
                        new SelectListItem {Text="Incomplete order", Value="Incomplete order"},
                        new SelectListItem {Text="Partial Delivery", Value="Partial Delivery"},
                        new SelectListItem {Text="Pending delivery information from customer / forwarder", Value="Pending delivery information from customer / forwarder"},
                        new SelectListItem {Text="Pending order cancellation", Value="Pending order cancellation"},
                        new SelectListItem {Text="Pending response from AM/IAM/DM", Value="Pending response from AM/IAM/DM"},
                        new SelectListItem {Text="Pending tax exemption documentation", Value="Pending tax exemption documentation"},
                        new SelectListItem {Text="PSO project", Value="PSO project"},
                        new SelectListItem {Text="Public Tender", Value="Public Tender"},
                        new SelectListItem {Text="Service/Shipment Hold", Value="Service/Shipment Hold"},
                        new SelectListItem {Text="Others", Value="Others"}
     };
    }
    else if (currentBCR == "Free Of Charge Report")
    {
        ReasonsList = new List<SelectListItem>() {
                        new SelectListItem {Text="Agilent Academic Research Support Program", Value="Agilent Academic Research Support Program"},
                        new SelectListItem {Text="XRD - Call-Off Tube Program", Value="XRD - Call-Off Tube Program"},
                        new SelectListItem {Text="Vacuum - Exchange Program", Value="Vacuum - Exchange Program"},
                        new SelectListItem {Text="Others", Value="Others"},
                        new SelectListItem {Text="DEFOA", Value="DEFOA"}
     };
    }
    else
    {
        ReasonsList = new List<SelectListItem>() {
            new SelectListItem {Text="Not Applicable", Value="Not Applicable"}
     };
    }
    
}
@using (Ajax.BeginForm("AddComment", "Generic", FormMethod.Post, new AjaxOptions { HttpMethod = "post" }, new { id = "frmCommenting", onsubmit = "return Validate_Comment();" }))
{
    <fieldset>
        <span>
            <div class="box box-solid box-primary collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Report Definition Help</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <label class="control-label" for="typeahead">
                        Report Name :
                    </label>
                    <input type="text" class="label-default" style="width:300px;" value="@oCurrentReport.ReportName - @oCurrentReport.CustomFilter" id="Help_ReportName" name="Help_ReportName" /><br />
                    <label class="control-label" for="typeahead" style="vertical-align: top;">
                        Report Details :
                    </label>
                    <textarea cols="100" rows="3" class="label-default" id="Help_Description1" readonly="readonly"
                        name="Help_Description1">@oCurrentReport.Description1</textarea><br />
                    <label class="control-label" for="typeahead" style="vertical-align: top;">
                        Commenting requirements :
                    </label>
                    <textarea cols="100" rows="3" class="label-default" id="Help_Description1" readonly="readonly"
                        name="Help_Description1">@oCurrentReport.SAP_T_Code</textarea><br />
                    <textarea cols="100" class="label-default" rows="1" id="Help_Description2" readonly="readonly"
                        name="Help_Description2">@oCurrentReport.Description2 - @oCurrentReport.Status</textarea>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </span>
        <table>
            <tr>
                <td style="width: 100px;">
                    <label class="control-label" for="typeahead">
                        Order Number
                    </label>
                </td>
                <td>
                    <input type="text" readonly="readonly" id="cmt_lblSalesOrder" name="cmt_lblSalesOrder"
                        class="label-default" />
                </td>
                @{if (enableMaterialCommenting != "false")
                  {
                    <td>
                        <label class="control-label" for="typeahead">
                            Material
                        </label>
                        <br />
                        <span class="k-error-colored">(*) Default: Same comment will be copied to all Materials.<br />
                            Use Ctrl + Mouse click for desired Materials commenting.</span>
                    </td>
                    <td>
                        <select id="cmb_Materials" size="3" style='height: 100%; width: 100px;' name="cmb_Materials"
                            multiple="multiple">
                            <option value="All Materials">All Materials</option>
                        </select>
                        <br />
                    </td>
                  }
                }
                <td>
                    <label class="control-label" for="typeahead">
                        Sales Org
                    </label>
                </td>
                <td>
                    <input type="text" readonly="readonly" id="cmt_lblSalesOrg" name="cmt_lblSalesOrg"
                    class="label-default" />
                </td>                    
                                <td>
                    <label class="control-label" for="typeahead">
                        Sold-To Customer
                    </label>
                        
                </td>
                <td>
                    &nbsp;&nbsp;
                    <input type="text" readonly="readonly" id="cmt_Sold_To_Customer" name="cmt_Sold_To_Customer"
                    class="label-default" />
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label" for="typeahead">
                        Order Owner
                    </label>
                </td>
                <td>
                    <input type="text" readonly="readonly" id="cmt_lblorderowner" name="cmt_lblorderowner"
                        class="label-default" />
                </td>
                @{
                if (disableUnblockedOrdersCommenting != "true")
                {
                <td style="width: 150px;">
                    <label class="control-label" for="typeahead">
                        Reason Code
                    </label>
                </td>
                <td>
                  
                    <div class="controls" style="width: 400px;">
                        @(Html.Kendo().DropDownList()
                        .Name("cmt_ReasonCode")
                        .BindTo(ReasonsList)
                        .SelectedIndex(0)
                        .HtmlAttributes(new { style = "width:300px" })
                        )
                    </div>
                  
                    <br />
                </td>            
                }   
                }
                <td>
                    <label class="control-label" for="typeahead">
                        Order Date
                    </label>
                </td>
                <td>
                    &nbsp;&nbsp;
                    <input type="text" readonly="readonly" id="cmt_lblorderDate" name="cmt_lblorderDate"
                        class="label-default" />
                </td>                

            </tr>
            <tr>
                @{
                if (currentBCR == "Orders greater than 5 months" || currentBCR == "Returned blocked orders"
                || currentBCR == "Service backlog" || currentBCR == "3PP Control report"
                || (currentBCR == "Billing Block" && BlockedOrderReport.IndexOf("SNI") == -1))
                {
                    <td>
                        <label class="control-label" for="typeahead">
                            Next Review Date
                        </label>
                    </td>
                    <td>
                        <div class="controls">
                            @(Html.Kendo().DatePicker()
                            .Name("cmt_ReviewDate")
                            .Min(DateTime.Today)
                            )
                        </div>
                    </td>       
                }
                }
                @{
                if (disableUnblockedOrdersCommenting != "true")
                {
                <td>
                    <label class="control-label">
                        Expected Release Date</label>
                </td>
                <td>
                    <div class="controls" style="width: 150px;">    
                        @(Html.Kendo().DatePicker()
                        .Name("cmt_ClearDate")
                        .Min(DateTime.Today)
                        )
                           
                        
                    </div>
                    <br />
                </td>  
                }

                if (currentBCR == "Orders greater than 5 months" || currentBCR == "CRDD>6 Months")
                {
                    <td>
                        <label class="control-label" for="typeahead">
                            Approved-To Date
                        </label>
                    </td>
                    <td>
                        <div class="controls">
                            @(Html.Kendo().DatePicker()
                            .Name("cmt_ApprovedToDate")
                            .Min(DateTime.Today)
                            )
                        </div>
                    </td>
                    
                }
                
                <td>
                    <label class="control-label" for="typeahead">
                        Net Value (USD)
                    </label>
                </td> 
                <td>
                    <input type="text" readonly="readonly" id="cmt_lblorderNetValue" name="cmt_lblorderNetValue"
                        class="label-default" />
                </td>
                    
                }
           </tr>
            <tr>
                <td>
                    <label class="control-label" for="textarea2">
                        Comment</label>
                </td>
                <td colspan="3">
                    <div class="controls">
                        <textarea name="cmt_Comments" id="cmt_Comments" style="width: 100%; height: 100%"
                            rows="4"> </textarea>
                         <br />
                        
                        <input type="checkbox" id="chkAllSelectedordersComment" name="chkAllSelectedordersComment"/>
                        (*) Apply same comment to Multiple selected orders.
                        <br />
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="form-actions">
                        <button class="btn btn-primary" type="button" onclick="Validate_Comment_and_Save();">
                            Save changes</button>
                        <button class="btn" type="reset">
                            Cancel</button>
                        <button id="btnNewFollowup" class="btn btn-warning" data-original-title="Create a New Followup for this order."
                            data-rel="tooltip" type="button">
                            New Follow-up</button>
                        <input type="hidden" value="@currentBCR" />
                    </div>
                    <div class="alert alert-success alert-dismissable" id="div_Comment_Success" name="div_Comment_Success"
                        style="visibility: hidden;">
                        <button class="close" aria-hidden="true" type="button" data-dismiss="alert">
                            ×</button>
                        <h4>
                            <i class="icon fa fa-check"></i>Confirmation!</h4>
                        <p>
                            Order Comments has been saved Successfully.</p>
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>
           
}
