@model Cockpit_NextGenMVC.BAL.Tbl_Unmapped_Orders_By_Region_Function[]
@{
    ViewBag.Title = "Team Members";

    Cockpit_NextGenMVC.BAL.VW_USERS SessionUSer = (Cockpit_NextGenMVC.BAL.VW_USERS)Session["UserProfile"];
    var UserRole = SessionUSer.ROLE_DESC.ToString();
}

<script language="javascript">
    function SeachUserDetailsByNTLogin(NTLogin) {
        if (NTLogin.indexOf(" ") != -1) {
            alert("Please enter NTLogin");
            return false;
        }
        else {
            GetUserDeatailsByNTLogin(NTLogin);
        }

    }
</script>

<script language="javascript">
    function GetUserDeatailsByNTLogin(NTLogin) {

        $.ajax({
            cache: false,
            type: "POST",
            async: false,
            url: '../User/GetUserDetailsByNTLogin/',
            data: { NtLogin: NTLogin },
            datatype: "json",
            success: function (data) {
                var item = data;
                $("#txtFullName").val(item.FullName);
                $("#txtEmail").val(item.Email);
                $("#txtmanager").val(item.ManagerName);
            },
            statusCode: {
                404: function (content) { alert('cannot find resource'); },
                500: function (content) { alert('internal server error'); }
            },
            error: function (req, status, errorObj) {
                // handle status === "timeout"
                // handle other errors
            }
        });
    }
</script>


<script language="javascript">
    $(document).ready(function () {
        $("#ddlRegion").change(function () {
            var RegionName = $("#ddlRegion").val();
            SelectCountry(RegionName);
            SelectTeam(RegionName);
        })
    });
</script>
<script language="javascript">
    function SelectCountry(RegionName) {
        $("#ddlCountry").empty();
        var ddl = $('#ddlCountry').data("kendoDropDownList");
        $.ajax({
            type: 'POST',
            url: '../Generic/GetCountryByRegion/', // we are calling json method
            dataType: 'json',
            data: { Region: RegionName },
            success: function (Countrys) {
                ddl.setDataSource(Countrys);
            },
            error: function (ex) {
                alert('Failed to retrieve states.' + ex);
            }
        });
        return false;
    }

    function SelectTeam(RegionName) {
        $("#Team").empty();
        var ddl = $('#Team').data("kendoDropDownList");
        $.ajax({
            type: 'POST',
            url: '../Generic/GetTeamsByRegion/', // we are calling json method
            dataType: 'json',
            data: { RegionName: RegionName },
            success: function (Team) {
                ddl.setDataSource(Team);
            },
            error: function (ex) {
                alert('Failed to retrieve states.' + ex);
            }
        });
        return false;
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        //Dropdownlist Selectedchange event
        $("#Team").change(function () {
            var aa = $("#Team").val();
            $.ajax({
                type: 'POST',
                url: '../User/GetmanagerName/', // we are calling json method
                dataType: 'json',
                data: { Team: aa },
                success: function (Manager) {
                    var aa = Manager;
                    var datalength = aa.length;
                    if (datalength > 0) {
                        var item = aa[0];
                        $("#txtmanager").val(item.SUPERVISOR);
                        //$("#txtmngemail").val(item.EMAIL);
                    }
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })
    });
</script>

<div class="content-wrapper">
    <section class="content-header">
    <h1>
        
        <small>- Click here for <a id="btnAdvancedSearch" href="#">Advanced Search</a></small>
        </h1>
        <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="halflings-icon home"></i>Home</a></li>
        <li><a href="#"><i class="halflings-icon cog"></i>@ViewBag.Title</a></li>
        </ol>
   </section>
    <section class="content">
    
    <div class="row" style="border-top:1px solid #ccc; margin-top:10px; padding-top:10px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
              <!-- Horizontal Form -->
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">User Registration Form</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" action="@Url.Action("SaveUserRegistration", "User")" method="post">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-3 control-label">NT Login</label>
                      <div class="col-sm-8" style="border:1px solid white;">
                        <input type="text" class="form-control" id="nttlogin" name="nttlogin" style="width:100%;" placeholder="NT Login"/>
                      </div>
                      <img src="../../Content/img/search-plus-24.png" title="Search details by NT Login"  style="cursor:pointer; height:24px;" onclick="SeachUserDetailsByNTLogin(nttlogin.value);"/>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-3 control-label">SAP User Name </label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="txtUsername" name="txtUsername" placeholder="SAP User Name" value="@ViewBag.SAPName"/>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-3 control-label">Full Name </label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="txtFullName" name="txtFullname" value="@Session["UserFullName"]" placeholder="Full Name"/>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-3 control-label">Email Address </label>
                      <div class="col-sm-9">
                        <input type="email" class="form-control" id="txtEmail" name="txtEmail" value="@Session["UserEmail"]" placeholder="Email Address"/>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-3 control-label">Select Region </label>
                      <div class="col-sm-9">
                            @(Html.Kendo().DropDownList()
                                  .Name("ddlRegion")
                                     .BindTo(new List<string>() {
                                      "AFO",
                                      "EMEA-I",
                                      "Greater China",
                                      "JAPAN",
                                      "SAPK",
                                      "VPD Americas",
                                      "VPD EMEA",
                                      "VPD SAPK"    
                                  })
                                  .SelectedIndex(1)
                                                  .HtmlAttributes(new { style = "width:100%", ID = "ddlRegion" })
                                  )
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-3 control-label">Select Country </label>
                      <div class="col-sm-9">
                             @(Html.Kendo().DropDownList()
                                  .Name("ddlCountry")
                                          .DataValueField("Country")
                            .DataTextField("Country")
                                  .SelectedIndex(1)
                                          .AutoBind(false)
                                                          .HtmlAttributes(new { style = "width:100%", ID = "ddlCountry" })
                                  )
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-3 control-label">Select Team </label>
                      <div class="col-sm-9">
                             @(Html.Kendo().DropDownList()
                          .Name("Team")
                                           .DataValueField("TEAM_ID")
                                            .DataTextField("TEAM_NAME")
                                          .SelectedIndex(1)
                                                  .AutoBind(false)         
                                  
                                                  .HtmlAttributes(new { style = "width:100%", ID = "Team" })
                                  )
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-3 control-label">Manager </label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="txtmanager" name="txtmanager" value="@Session["managerName"]" placeholder="Manager"/>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-3 control-label">Select Role </label>
                      <div class="col-sm-9">
                             @(Html.Kendo().DropDownList()
              .Name("ddlRole")
           .DataTextField("Text")
                .DataValueField("Value")
          .BindTo(new List<SelectListItem>
                  {
                      new SelectListItem {Text = "WW Lead", Value = "8"},
                      new SelectListItem {Text = "Regional User", Value = "9"},
                      new SelectListItem {Text = "Regional Lead", Value = "7"},
                      new SelectListItem {Text = "Supervisor", Value = "1"},
                      new SelectListItem {Text = "CSR", Value = "2"},
                      new SelectListItem {Text = "BPA", Value = "3"},
                      new SelectListItem {Text = "System", Value = "4"},
                      new SelectListItem {Text = "Admin", Value = "5"}
                  })
                                  .HtmlAttributes(new { style = "width:100%", ID = "ddlRole" })
                  )
                      </div>
                    </div>
                  </div><!-- /.box-body -->
                  <div class="box-footer">
                    <button type="submit" class="btn btn-info pull-right">Register User</button>
                  </div><!-- /.box-footer -->
                </form>
              </div><!-- /.box -->
              <!-- general form elements disabled -->
              <!-- /.box -->
            </div>
        <div class="col-md-2"></div>
    </div>
    
    </section>
  
</div>
