@model Cockpit_NextGenMVC.Models.DashboardModal
@{
    var CurrentDashboard = ViewBag.CurrentDashboard;
    var currentMainReport = ViewBag.currentMainReport;
    var LastDataRefresh = ViewBag.LastDataRefresh;

    Cockpit_NextGenMVC.BAL.VW_USERS SessionUSer = (Cockpit_NextGenMVC.BAL.VW_USERS)Session["UserProfile"];

    bool MyCockpitButtonActive = true;

    string MyCockpitButtonStyle = "";
    string TeamCockpitButtonStyle = "";

    if (SessionUSer.ROLE_DESC != "CSR")
    {
        MyCockpitButtonActive = false;

        MyCockpitButtonStyle = "";
        TeamCockpitButtonStyle = "k-primary";
    }
    else
    {
        MyCockpitButtonStyle = "k-primary";
        TeamCockpitButtonStyle = "";
    }
    
    if(currentMainReport == "")
    {
           currentMainReport = "Followups";
    }
}
@{

    using (Html.BeginForm())
    {
    
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <p>
        @(Html.Kendo().Button()
        .Name("MyCockpit")
            .HtmlAttributes(new { type = "button", @class = MyCockpitButtonStyle })
        .Events(e => e.Click("onMyCockpitClick"))
        .Enable(MyCockpitButtonActive)
                .Content("My Data"))

        @(Html.Kendo().Button()
        .Name("TeamCockpit")
                .HtmlAttributes(new { type = "button", @class = TeamCockpitButtonStyle })
        .Events(e => e.Click("onTeamCockpitClick"))
                .Content("My Team's Data"))
        
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label class="label-danger" style="font-size: large; background-color: red;">Tool QA Instance - Not for Production Usage.</label>

        <input type="hidden" id="hidCockpitUI" name="hidCockpitUI" value="@CurrentDashboard" />
    </p>
    <hr style="background: gray; border: 0; height: 3px" />
          <h1>
            Dashboard - <small>Last Data Refresh on @LastDataRefresh (MST)</small>
          </h1>
          <ol class="breadcrumb" style="margin-bottom:5px !important; padding:5px !important;">
            <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
            <li class="active">Dashboard</li>
          </ol>
        </section>
        <section class="content">

          <!-- Small boxes (Stat box) -->
          <div class="row">
          <div class="box">
            <div class="box-header with-border" style="height:40px !important;">
                <h3 class="box-title">
                <ol class="breadcrumb" style="padding: 0px 15px;background-color:#dadada">
                <li><i class="fa fa-dashboard"></i> Level 1 Summary </li>
                </ol>
                </h3>
                <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus" style="font-size:15px !important;"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-3 col-xs-6">
                      <!-- small box -->
                      <div class="small-box bg-green">
                        <div class="inner">
                          <p><a href="#" onclick="showProgress();LoadFollowupViews();" style="color: #fff;opacity: 0.9;text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);webkit-text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2); text-transform:uppercase; font-weight:bold; font-size:17px;">Follow-up</a></p>
                          <h4 style="font-size:22px; color:White;"><br /> @Model.TotalFollowups # </h4>
                        </div>
                        <div class="icon" style="top:-26px !important;">
                          <i class="fa fa-flag" style="font-size:72px !important; color:White;"></i>
                        </div>
                        <a onclick="showProgress();" href="@Url.Action("MyFollowupsList", "Followup")" class="small-box-footer" style="color:#5cb85c; font-weight:500; font-size: 14px;">View Details<i class="fa fa-arrow-circle-right" style="float:right; padding-right:5px;font-size: 19px;"></i></a>
                      </div>
                    </div><!-- ./col -->
                    <div class="col-lg-3 col-xs-6">
                      <!-- small box -->
                      <div class="small-box bg-aqua">
                        <div class="inner">
                          <p><a href="#" onclick="showProgress();LoadUBViews();" style="color: #fff;opacity: 0.9;text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);webkit-text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2); text-transform:uppercase; font-weight:bold; font-size:17px;">Un-blocked</a></p>
                          <h4 style="font-size:22px; color:White;">
                             @Model.BacklogSummary.Total_Unblocked_Orders_Count Orders<br />
                            @Model.BacklogSummary.Total_Unblocked_Orders.ToString() M$
                          </h4>
                  
                        </div>
                        <div class="icon" style="top:-26px !important;">
                          <i class="fa fa-bar-chart-o" style="font-size:72px !important; color:White;"></i>
                        </div>
                        <a href="#" onclick="showProgress();LoadUBViews();"  class="small-box-footer" style="color:#00c0ef; font-weight:500; font-size: 14px;">View Details <i class="fa fa-arrow-circle-right" style="float:right; padding-right:5px;font-size: 19px;"></i></a>
                      </div>
                    </div><!-- ./col -->
                    <div class="col-lg-3 col-xs-6">
                      <!-- small box -->
                      <div class="small-box bg-yellow">
                        <div class="inner">
                          <p><a href="#" onclick="showProgress();LoadDBViews();" style="color: #fff;opacity: 0.9;text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);webkit-text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2); text-transform:uppercase; font-weight:bold; font-size:17px;">Delivery Block</a></p>
                          <h4 style="font-size:22px; color:White;">
                            @Model.BacklogSummary.Total_DB_Count Orders
                            <br />@Model.BacklogSummary.Total_DB.ToString() M$
                          </h4>
                  
                        </div>
                        <div class="icon" style="top:-26px !important;">
                          <i class="fa fa-pie-chart" style="font-size:72px !important; color:White;"></i>
                        </div>
                        <a onclick="showProgress();" href="@Url.Action("DB_Waterfall", "Analytics")" class="small-box-footer" style="color:#f39c12; font-weight:500; font-size: 14px;">Analytics <i class="fa fa-arrow-circle-right" style="float:right; padding-right:5px;font-size: 19px;"></i></a>
                      </div>
                    </div><!-- ./col -->
                    <div class="col-lg-3 col-xs-6">
                      <!-- small box -->
                      <div class="small-box bg-purple">
                        <div class="inner">
                          <p><a href="#" onclick="showProgress();LoadSNIViews();" style="color: #fff;opacity: 0.9;text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);webkit-text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2); text-transform:uppercase; font-weight:bold; font-size:17px;">Shipped not Invoiced</a></p>
                          <h4 style="font-size:22px; color:White;">
                            @Model.BacklogSummary.Total_SNI_Count Orders
                            <br />@Model.BacklogSummary.Total_SNI.ToString() M$
                          </h4>
                  
                        </div>
                        <div class="icon" style="top:-26px !important;">
                          <i class="fa fa-dollar" style="font-size:72px !important; color:White;"></i>
                        </div>
                        <a onclick="showProgress();" href="@Url.Action("SNI_Waterfall", "Analytics")" class="small-box-footer" style="color:#605ca8; font-weight:500; font-size: 14px;">Analytics<i class="fa fa-arrow-circle-right" style="float:right; padding-right:5px;font-size: 19px;"></i></a>
                      </div>
                    </div><!-- ./col -->
                    <div class="overlay" id="spinner" name="spinner" style="visibility:hidden;">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div><!-- /.row -->
                <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-light-blue">
                        <div class="inner">
                            <p><a href="#" onclick="showProgress();LoadBCRViews();" style="color: #fff;opacity: 0.9;text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);webkit-text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2); text-transform:uppercase; font-weight:bold; font-size:17px;">Control Reports</a></p>
                            <h4 style="font-size:22px; color:White;">
                                 @Model.BCRSummary.TotalPendingOrders Pending Comments
                                <br /> @Model.BCRSummary.TotalPendingSignOffs Pending Sign-offs
                            </h4>
                            
                        </div>
                        <div class="icon" style="top:-26px !important;">
                            <i class="fa fa-comments" style="font-size:72px !important; color:White;"></i>
                        </div>
                        <a href="#" class="small-box-footer" style="color:#3c8dbc; font-weight:500;font-size: 14px;">View Details <i class="fa fa-arrow-circle-right" style="float:right; padding-right:5px;font-size: 19px;"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-teal">
                        <div class="inner">
                            <p><a href="#" onclick="showProgress();LoadOSBRViews();" style="color: #fff;opacity: 0.9;text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);webkit-text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2); text-transform:uppercase; font-weight:bold; font-size:17px;">OSBR Notification</a></p>
                            <h4 style="font-size:22px; color:White;">    
                                    
                                  @Model.BacklogSummary.Total_OSBR_Notification_Count Orders
                                  <br />@Model.BacklogSummary.Total_OSBR_Notification M$
                            </h4>
                            
                        </div>
                        <div class="icon" style="top:-26px !important;">
                            <i class="fa fa-table" style="font-size:72px !important; color:White;"></i>
                        </div>
                        <a href="#" onclick="showProgress();LoadOSBRViews();" class="small-box-footer" style="color:#c92ae6; font-weight:500; font-size: 14px;">View Details <i class="fa fa-arrow-circle-right" style="float:right; padding-right:5px;font-size: 19px;"></i></a>
                    </div>
                </div>
          </div>
          </div>
          </div>
          </div>
          
        </section>
        <section class="Content">
        <div class="row">
        <div class="col-md-12">
            <div class="box">
            <div class="box-header with-border">
            <h3 class="box-title">Level 2 : @currentMainReport</h3>
            <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus" style="font-size:15px !important;"></i></button>

            </div>
            </div>
            <div class="box-body">
            <div class="row">
            @{if (currentMainReport == "ControlReports")
              {
                  Html.RenderPartial("_BCRSummary", Model);
              }

              else
              {
                  foreach (var BCRItem in Model.BacklogStats)
                  {
                <div class="col-md-3 col-sm-6 col-xs-12">
                   @{
                      if (currentMainReport == "Followups")
                      {
                            <div class="info-box bg-green">
                                <span class="info-box-icon" style="height:99px;"><i class="fa fa-flag" style="font-size:50px !important;"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text"><a onclick="showProgress();" href="@Url.Action(BCRItem.ReportPath, BCRItem.Area, new { Report = BCRItem.ReportName })" class="Level2BucketName" title="@BCRItem.ReportName">@BCRItem.ReportName</a> </span>
                                    <span class="info-box-number">
                                        @{if (currentMainReport == "Followups")
                                          {
                                            <label id="lblFollowups" style="text-align: center;font-weight:lighter;"># of Follow-ups : @BCRItem.Totalorders</label>
                                          }
                                          else
                                          {
                                            <label id="lblOrders" style="text-align: center;font-weight:lighter;"># of Orders : @BCRItem.Totalorders</label><br />
                                            <label id="lblDollars" style="text-align: center;font-weight:lighter;">Net Value : @BCRItem.OrdersWorth (M$)</label>
                                          }
                                        }
                                    </span>
                                </div>
                                <a onclick="showProgress();" href="@Url.Action(BCRItem.ReportPath, BCRItem.Area, new { Report = BCRItem.ReportName })" style="text-align: center;padding: 3px 0;color:#5cb85c; font-weight:500; font-size: 14px;display: block;z-index: 10;background: #f5f5f5;text-decoration: none;border-bottom-left-radius: 9px;border-bottom-right-radius: 9px;">Order Details<i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                      }
                      else if (currentMainReport == "UnblockedOrders")
                      {
                            <div class="info-box bg-aqua">
                                <span class="info-box-icon" style="height:99px;"><i class="fa fa-bar-chart-o" style="font-size:50px !important;"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text"><a onclick="showProgress();" href="@Url.Action(BCRItem.ReportPath, BCRItem.Area, new { Report = BCRItem.ReportName })" class="Level2BucketName" title="@BCRItem.ReportName">@BCRItem.ReportName</a> </span>
                                    <span class="info-box-number">
                                        @{if (currentMainReport == "Followups")
                                          {
                                            <label id="lblFollowups" style="text-align: center;font-weight:lighter;"># of Follow-ups : @BCRItem.Totalorders</label>
                                          }
                                          else
                                          {
                                            <label id="lblOrders" style="text-align: center;font-weight:lighter;"> # of Orders : @BCRItem.TotalUnblocked_Cnt</label><br />
                                            <label id="lblDollars" style="text-align: center;font-weight:lighter;">Net Value : @BCRItem.OrdersWorth (M$)</label>
                                          }
                                        }
                                    </span>
                                </div>
                                <a onclick="showProgress();"  href="@Url.Action(BCRItem.ReportPath, BCRItem.Area, new { Report = BCRItem.ReportName })" style="text-align: center;padding: 3px 0;color:#00c0ef; font-weight:500; font-size: 14px;display: block;z-index: 10;background: #f5f5f5;text-decoration: none;border-bottom-left-radius: 9px;border-bottom-right-radius: 9px;">Order Details<i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                      }
                      else if (currentMainReport == "DBOrders")
                      {
                            <div class="info-box bg-yellow">
                                <span class="info-box-icon" style="height:99px;"><i class="fa fa-pie-chart" style="font-size:50px !important;"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text"><a onclick="showProgress();" href="@Url.Action(BCRItem.ReportPath, BCRItem.Area, new { Report = BCRItem.ReportName })" class="Level2BucketName" title="@BCRItem.ReportName">@BCRItem.ReportName</a> </span>
                                    <span class="info-box-number">
                                        @{if (currentMainReport == "Followups")
                                          {
                                            <label id="lblFollowups" style="text-align: center;font-weight:lighter;"># of Follow-ups : @BCRItem.Totalorders</label>
                                          }
                                          else
                                          {
                                            <label id="lblOrders" style="text-align: center;font-weight:lighter;"> # of Orders : @BCRItem.TotalDB_Cnt</label><br />
                                            <label id="lblDollars" style="text-align: center;font-weight:lighter;">Net Value : @BCRItem.OrdersWorth (M$)</label>
                                          }
                                        }
                                    </span>
                                </div>
                                <a onclick="showProgress();" href="@Url.Action(BCRItem.ReportPath, BCRItem.Area, new { Report = BCRItem.ReportName })" style="text-align: center;padding: 3px 0;color:#f39c12; font-weight:500; font-size: 14px;display: block;z-index: 10;background: #f5f5f5;text-decoration: none;border-bottom-left-radius: 9px;border-bottom-right-radius: 9px;">Order Details<i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                      }
                      else if (currentMainReport == "SNIOrders")
                      {
                            <div class="info-box bg-purple">
                                <span class="info-box-icon" style="height:99px;"><i class="fa fa-dollar" style="font-size:50px !important;"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text"><a onclick="showProgress();" href="@Url.Action(BCRItem.ReportPath, BCRItem.Area, new { Report = BCRItem.ReportName })" class="Level2BucketName" title="@BCRItem.ReportName">@BCRItem.ReportName</a> </span>
                                    <span class="info-box-number">
                                        @{if (currentMainReport == "Followups")
                                          {
                                            <label id="lblFollowups" style="text-align: center;font-weight:lighter;"># of Follow-ups : @BCRItem.Totalorders</label>
                                          }
                                          else
                                          {
                                            <label id="lblOrders" style="text-align: center;font-weight:lighter;"> # of Orders : @BCRItem.TotalSNI_Cnt</label><br />
                                            <label id="lblDollars" style="text-align: center;font-weight:lighter;">Net Value : @BCRItem.OrdersWorth (M$)</label>
                                          }
                                        }
                                    </span>
                                </div>
                                <a onclick="showProgress();" href="@Url.Action(BCRItem.ReportPath, BCRItem.Area, new { Report = BCRItem.ReportName })" style="text-align: center;padding: 3px 0;color:#605ca8; font-weight:500; font-size: 14px;display: block;z-index: 10;background: #f5f5f5;text-decoration: none;border-bottom-left-radius: 9px;border-bottom-right-radius: 9px;">Order Details<i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                      }
                      else if (currentMainReport == "OSBRReports")
                      {
                            <div class="info-box bg-teal">
                                <span class="info-box-icon" style="height:99px;"><i class="fa fa-table" style="font-size:50px !important;"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text"><a onclick="showProgress();" href="@Url.Action(BCRItem.ReportPath, BCRItem.Area, new { Report = BCRItem.ReportName })" class="Level2BucketName" title="@BCRItem.ReportName">@BCRItem.ReportName</a> </span>
                                    <span class="info-box-number">
                                        @{if (currentMainReport == "Followups")
                                          {
                                            <label id="lblFollowups" style="text-align: center;font-weight:lighter;"># of Follow-ups : @BCRItem.Totalorders</label>
                                          }
                                          else
                                          {
                                            <label id="lblOrders" style="text-align: center;font-weight:lighter;"> # of Orders : @BCRItem.TotalOSBR_Cnt</label><br />
                                            <label id="lblDollars" style="text-align: center;font-weight:lighter;">Net Value : @BCRItem.OrdersWorth (M$)</label>
                                          }
                                        }
                                    </span>
                                </div>
                                <a onclick="showProgress();" href="@Url.Action(BCRItem.ReportPath, BCRItem.Area, new { Report = BCRItem.ReportName })" style="text-align: center;padding: 3px 0;color:#c92ae6; font-weight:500; font-size: 14px;display: block;z-index: 10;background: #f5f5f5;text-decoration: none;border-bottom-left-radius: 9px;border-bottom-right-radius: 9px;">Order Details<i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                      }
                      else
                      {
                            <div class="info-box bg-teal">
                                <span class="info-box-icon" style="height:99px;"><i class="fa fa-thumbs-up" style="font-size:50px !important;"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text"><a onclick="showProgress();" href="@Url.Action(BCRItem.ReportPath, BCRItem.Area, new { Report = BCRItem.ReportName })" class="Level2BucketName">@BCRItem.ReportName</a> </span>
                                    <span class="info-box-number">
                                        @{if (currentMainReport == "Followups")
                                          {
                                            <label id="lblFollowups" style="text-align: center;font-weight:lighter;"># of Follow-ups : @BCRItem.Totalorders</label>
                                          }
                                          else
                                          {
                                            <label id="lblOrders" style="text-align: center;font-weight:lighter;"> # of Orders : @BCRItem.Totalorders</label><br />
                                            <label id="lblDollars" style="text-align: center;font-weight:lighter;">Net Value : @BCRItem.OrdersWorth (M$)</label>
                                          }
                                        }
                                    </span>
                                </div>
                                <a onclick="showProgress();" href="@Url.Action(BCRItem.ReportPath, BCRItem.Area, new { Report = BCRItem.ReportName })" style="text-align: center;padding: 3px 0;color:#5cb85c; font-weight:500; font-size: 14px;display: block;z-index: 10;background: #f5f5f5;text-decoration: none;border-bottom-left-radius: 9px;border-bottom-right-radius: 9px;">Order Details<i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                      }
                    }
                        
                </div>
                  }
              }
            }
            </div><!-- /.row -->
            </div>
            </div>
            </div>
            </div>
        <input type="hidden" value="Followups" name="hidReportName" id="hidReportName" />
        </section>
    </div>
    }
}
